<template>
    
    <div>
        <Layout/>
        <div class="container">
            <div class="row">

                <div class="card m-3 p-5">
                    
                    <div class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </div>

                    <div class="pt-3 text-center"> 
                        <h3>Story App</h3>
                    </div>

                    <hr>
                    <div class="d-flex">
                        <div class="row">
                            <div class="col-md-4 mb-3">
                                <div class="card">
                                <div class="card-body">
                                    <img src="../../assets/tham.jpg" class="card-img-top pb-2" alt="temp data" height="200">
                                    <h5 class="card-title">Special title treatment</h5>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                    <a href="#" class="btn btn-primary">Read More</a>
                                    <a href="#" class="btn btn-info right-side">Edit</a>
                                </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div class="card">
                                <div class="card-body">
                                    <img src="../../assets/tham.jpg" class="card-img-top pb-2" alt="temp data" height="200">
                                    <h5 class="card-title">Special title treatment</h5>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                    <a href="#" class="btn btn-primary">Read More</a>
                                    <a href="#" class="btn btn-info right-side">Edit</a>
                                </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div class="card">
                                <div class="card-body">
                                    <img src="../../assets/tham.jpg" class="card-img-top pb-2" alt="temp data" height="200">
                                    <h5 class="card-title">Special title treatment</h5>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                    <a href="#" class="btn btn-primary">Read More</a>
                                    <a href="#" class="btn btn-info right-side">Edit</a>
                                </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div class="card">
                                <div class="card-body">
                                    <img src="../../assets/tham.jpg" class="card-img-top pb-2" alt="temp data" height="200">
                                    <h5 class="card-title">Special title treatment</h5>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                    <a href="#" class="btn btn-primary">Read More</a>
                                    <a href="#" class="btn btn-info right-side">Edit</a>
                                </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div class="card">
                                <div class="card-body">
                                    <img src="../../assets/tham.jpg" class="card-img-top pb-2" alt="temp data" height="200">
                                    <h5 class="card-title">Special title treatment</h5>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                    <a href="#" class="btn btn-primary">Read More</a>
                                    <a href="#" class="btn btn-info right-side">Edit</a>
                                </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div class="card">
                                <div class="card-body">
                                    <img src="../../assets/tham.jpg" class="card-img-top pb-2" alt="temp data" height="200">
                                    <h5 class="card-title">Special title treatment</h5>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                    <a href="#" class="btn btn-primary">Read More</a>
                                    <a href="#" class="btn btn-info right-side">Edit</a>
                                </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div class="card">
                                <div class="card-body">
                                    <img src="../../assets/tham.jpg" class="card-img-top pb-2" alt="temp data" height="200">
                                    <h5 class="card-title">Special title treatment</h5>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                    <a href="#" class="btn btn-primary">Read More</a>
                                    <a href="#" class="btn btn-info right-side">Edit</a>
                                </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div class="card">
                                <div class="card-body">
                                    <img src="../../assets/tham.jpg" class="card-img-top pb-2" alt="temp data" height="200">
                                    <h5 class="card-title">Special title treatment</h5>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                    <a href="#" class="btn btn-primary">Read More</a>
                                    <a href="#" class="btn btn-info right-side">Edit</a>
                                </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div class="card">
                                <div class="card-body">
                                    <img src="../../assets/tham.jpg" class="card-img-top pb-2" alt="temp data" height="200">
                                    <h5 class="card-title">Special title treatment</h5>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                    <a href="#" class="btn btn-primary">Read More</a>
                                    <a href="#" class="btn btn-info right-side">Edit</a>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
import Layout from './Layout.vue'

export default {
  components: { Layout },
  
}
</script>

<style>
.top-space {
   margin-top: 10px;
}
.right-side {
    float: right;
}
</style>
