<template>
<div>
    <!-- <Layout/> -->
    
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-4 offset-md-4">
                
                <div class="card login-form">
                    <div class="card-body">

                        <div class="text-center">
                            <img src="../../assets/logo.png" class="rounded" alt="img on" width="100" height="100">
                        </div>
                       
                        <div class="mb-3">
                             <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control"  placeholder="Email">
                        </div>
                       
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" placeholder="Password">
                        </div>

                        <div class="mb-3">
                            
                            <button type="submit" class="btn btn-primary right-side">Sign in</button>
                            <a type="button" class="btn btn-link"> Create an account </a>

                        </div>
                        
                    </div>
                </div>    
            </div>
        </div>
    </div>
    
</div>
  
  
</template>

<script>
// import Layout from './Layout.vue'

export default {
//   components: { Layout },
  
}
</script>

<style> 
.login-form{
    margin-top: 25%;
}
.right-side {
    float: right;
}

    
</style>
