<template>
<div>
    <!-- <Layout/> -->
    
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-4 offset-md-4">
                
                <div class="card login-form">
                    <div class="card-body">

                        <div class="text-center">
                            <img src="../../assets/logo.png" class="rounded" alt="img on" width="100" height="100">
                        </div>

                        <div class="mb-3">
                            <label for="username" class="form-label">username</label>
                            <input type="tetx" class="form-control"  placeholder="username">
                        </div>
                       
                        <div class="mb-3">
                             <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control"  placeholder="Email">
                        </div>
                       
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" placeholder="Password">
                        </div>
                        
                        <div class="mb-3">
                            <label for="confirmPassword" class="form-label">Confirm Password</label>
                            <input type="password" class="form-control" placeholder="Confirm Password">
                        </div>

                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary right-side">Sign Up</button>
                        </div>
                        
                    </div>
                </div>    
            </div>
        </div>
    </div>
    
</div>
  
  
</template>

<script>

export default {
  
}
</script>

<style>

</style>
